@import url('reset.css');

body {
    width: 1440px;
    height: 1024px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px repeat(3, 200px);
    grid-template-areas: "header header header header header" "sidebar main main main main" "sidebar footer footer footer footer";
}

header {
    grid-area: header;
    display: grid;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
}

.youtube { 
    display: flex;
    align-items: center;
    width: 100rem;
}

.youtube-logo {
    height: 20px;
    padding-left: 15px;
}

.menu {
    margin: 8px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.search-input {
    width: 50%;
    font-size: inherit;
    padding: .4rem;
    border: 1px solid #ccc;
    border-radius: 0.15rem;
}

.search-button {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.15rem;
    border-left: none;
    background-color: ccc;
    cursor: pointer;
}

.search-button:hover {
    background-color: #f0f0f0;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    grid-column-end: 2;
    place-items: center start;
    align-self: start;
    gap: 0.7rem;
    padding: 0.5rem;
}

.channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

aside {
    grid-area: sidebar;
}

main { 
    grid-area: main;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    width: Hug (282px);
    height: Fixed (262px);
    gap: 50px;
}

.video img {
    width: 220px;
    object-fit: contain;
}

.video-details {
    display: block;
    margin: 5px;
    width: Hug (249px);
    height: Hug (74px);
    gap: 10px;

}

.video-details h5, p {
    float: right;
    font-size: 13px;
    width: 197px;
}

.video-details p {
    color: #3e3e3e;
}

.video-details img {
    width: 42px;
    padding-right: 5px;
}

footer {
    grid-area: footer;
    margin-top: 780px;
    justify-self: end;
    font-size: 12px;
}

.sidebar {
    display: grid;
    width: 218px;
    height: 968px;
    padding: 24px;
    gap: 22px;
}

ul {
    margin: 0;
    padding: 24px;
}

.item {
    display: flex;
    list-style: none;
    color: #3e3e3e;
    padding: 3%;
}

.item p {
    text-align: left;
    left: 35px;
}

li img {
    margin-right: 6px;
}